html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
 background-color: dimgray;
max-width: 1220px;
margin:0 auto;
padding: 0 10px;
}
body {
    font-family: "Bungee Spice", sans-serif;
    font-size: 16px; /* Заменил "font: size 16px;" на "font-size: 16px;" */
    font-weight: 400;
}
.header{
    background-color: #151515;
}
.header-main{
background-color: transparent;
}
    
.logo__img{
    width: 120px;
    height: 83px;
}
.header__inner{
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.menu__list{
    display: flex;
gap: 45px;
}
.menu__list-link{
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 700;

}